node {
    size: 3px;
    fill-color: #000;
    text-mode: hidden;
}

node.visited {
    fill-color: #ff312c;
}

edge {
    shape: line;
    fill-color: #222;
    arrow-size: 3px, 2px;
}

edge.U1 {

    fill-color: #55a821;
}

edge.U2 {
    fill-color: #ff3400;
}

edge.U3 {
    fill-color: #019277;
}

edge.U4 {
    fill-color: #fdd700;
}

edge.U5 {
    fill-color: #672f17;
}

edge.U55 {
    fill-color: #672f17;
}

edge.U6 {
    fill-color: #6f4e9c;
}

edge.U7 {
    fill-color: #3590c0;
}

edge.U8 {
    fill-color: #083c85;
}

edge.U9 {
    fill-color: #ff7200;
}

sprite {
    size: 5px;
    fill-color: #9eff61;
    text-mode: hidden;
    z-index: 1;
}

sprite.active {
    size: 5px;
    fill-color: #ff312c;
    text-mode: hidden;
    z-index: 1;
}